.benefits {
    @include section();

         @media screen and (min-width: 1200px) {
             display: block;
             @include section(94px, 94px);
         }

}

.benefits__icon-item {
    display: inline-flex;
    height: 120px;
    justify-content: center;
    align-items: center;
    background-color: $BgColorLight;
    width: 100%;
    margin-bottom: 30px;

    @media screen and (min-width: 768px) {
        width: 354px;
        }

    @media screen and (min-width: 1200px) {
        width: 270px;
                 }
}

.benefits__list {
    @extend %reset-list;
    display: flex;
    flex-direction: column;
    gap: 30px;
    flex-basis: 270px;

    @media screen and (min-width: 768px) {
        flex-direction: row;
        flex-wrap: wrap;
        flex-basis: 354px;
    }

    @media screen and (min-width: 1200px) {
        flex-basis: 270px;
    }

}

.benefits__item {
   
     @media screen and (min-width: 768px) {
        max-width: 354px;
    }

    @media screen and (min-width: 1200px) {
        max-width: 270px;
    }

}

.benefits__subtitle {
    margin-bottom: 10px;
    @include fonts(14px, 16px, 700);
    text-transform: uppercase;
    text-align: center;   
    @media screen and (min-width: 768px) {
           text-align: justify;
        }
}

.benefits__desc {
    color: $SecondaryTextColor;
    @include fonts(14px, 24px);

}