.footer-contacts__list {
    @extend %reset-list;
    font-style: normal;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    margin-bottom: 60px;

    @media screen and (min-width: 768px) {
            margin-bottom: 0;
        }
     @media screen and (min-width: 1200px){
        align-items: normal;
     }

}

.footer-contacts__link {
     @extend %reset-link;
    color: $TextColorLight;
    @include fonts(14px, 24px);
    
    @include transition-base (color);
   
    &--inverse {
            color: $MainColor;
        }
    
    &:hover,
    &:focus {
            color: $AccentColor;
        }
}
