%reset-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

%reset-link {
    text-decoration: none;
}

%reset-img {
    display: block;
}

%section-title {
    
   margin-bottom: 30px;
    font-weight: 700;
    font-size: 28px;
    line-height: 33px; 
    font-weight: 700;
    text-align: center;
    letter-spacing: 0.03em;

    @media screen and (min-width: 1200px) {
            margin-bottom: 50px;
            font-size: 36px;
            line-height: 42px;
        }
    }

