// Fonts
$PraimaryFontFamily: Roboto,sans-serif;
$SecondaryFontFamily: Raleway,sans-serif;

// Text color
$PraimaryTextColor: #212121;
$SecondaryTextColor: #757575;
$TextColorLight: rgba(255, 255, 255, 0.6);
$TextColorDark:#000000;
$PlaceholderModalTextColor:rgba(117, 117, 117, 0.5);
$PlaceholderSbscTextColor: rgba(255, 255, 255, 0.6);

// Colors
$MainColor: #ffffff;
$IconsColor: #afb1b8;
$AccentColor: #2196f3;

// border colors
$MainBorderColor: #ececec;
$SecondaryBorderColor:#afb1b8;
$FormBorderColor:rgba(255, 255, 255, 0.3);
$ModalBtnBorderColor: rgba(0, 0, 0, 0.1);
$ModalFormBorderColor: rgba(33, 33, 33, 0.2);

// background colors
$BgColorLight: #f5f4fa;
$BgColorDark: rgba(255, 255, 255, 0.1);
$BgColorSecondary: #2f303a;
$BgColorDsc: rgba(47, 48, 58, 0.8);
$BgColorModal: rgba(0, 0, 0, 0.2);
$BgColorOverlay:rgba(33, 150, 243, 0.9);
$BgColorHero:rgba(47, 48, 58, 0.4);


